In [24]:
%load_ext autoreload
%autoreload 2

import sys; sys.path.insert(0, '..')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
import pandas as pd
import duckdb
from datetime import date, timedelta

In [40]:
from crash import load_data, filter_data
from osm import get_network

In [49]:
nodes, edges = get_network("Somerville, Massachusetts, USA")
bbox = nodes.total_bounds
bbox

array([-71.134457 ,  42.3731775, -71.0753392,  42.4180395])

In [50]:
data = load_data()

Dataset path: /Users/dustinmichels/.cache/kagglehub/datasets/sobhanmoosavi/us-accidents/versions/13
CSV file path: /Users/dustinmichels/.cache/kagglehub/datasets/sobhanmoosavi/us-accidents/versions/13/US_Accidents_March23.csv
Parquet already exists: /Users/dustinmichels/.cache/kagglehub/datasets/sobhanmoosavi/us-accidents/versions/13/US_Accidents_March23.parquet

In [52]:
filter_data(data, bbox, years=4)

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-512732,Source2,2,2022-09-08 09:06:18,2022-09-08 09:36:05,42.412422,-71.104301,None,None,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-514162,Source2,1,2022-09-07 08:19:09,2022-09-07 08:48:59,42.408829,-71.080170,None,None,0.000,...,False,True,False,False,True,False,Day,Day,Day,Day
2,A-514591,Source2,1,2022-09-06 05:07:41,2022-09-06 06:07:54,42.417969,-71.126869,None,None,0.000,...,False,False,False,False,True,False,Night,Night,Night,Day
3,A-524216,Source2,1,2022-08-29 06:23:33,2022-08-29 07:23:53,42.393291,-71.085892,None,None,0.000,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-525254,Source2,1,2022-08-26 08:31:50,2022-08-26 09:01:33,42.404869,-71.082420,None,None,0.000,...,False,False,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,A-4757549,Source1,2,2023-01-03 14:10:00,2023-01-03 18:55:07,42.388289,-71.079665,42.50141,-71.118441,8.062,...,False,False,False,False,False,False,Day,Day,Day,Day
120,A-5099426,Source1,2,2022-05-11 12:44:30,2022-05-11 18:54:42,42.388024,-71.079647,42.289155,-71.043428,7.077,...,False,False,False,False,False,False,Day,Day,Day,Day
121,A-5214086,Source1,2,2022-02-18 23:20:30,2022-02-19 01:34:00,42.383596,-71.076735,42.347787,-71.060404,2.611,...,False,False,False,False,False,False,Night,Night,Night,Night
122,A-5229437,Source1,2,2022-02-18 23:20:30,2022-02-19 01:28:30,42.378167,-71.075810,42.349429,-71.059859,2.146,...,False,False,False,False,False,False,Night,Night,Night,Night
123,A-5618136,Source1,2,2021-12-16 12:32:30,2021-12-16 21:13:00,42.383596,-71.076735,42.315118,-71.051509,4.904,...,False,False,False,False,False,False,Day,Day,Day,Day